button {
  background-color: #7bc9ff;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  margin: 0.25rem;
  outline: none;
  border-radius: 15%;
  width: 3rem;
  height: 3rem;
  border: none;
}

button:hover {
  background-color: #a3ffd6;
}

.grid {
  display: grid;
  gap: 2rem;
  margin: 0 auto;

  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.display {
  height: 100px;
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #93bfe62d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-weight: bold;
  box-sizing: border-box;
}

.calculator {
  width: 20rem;
  height: 35rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #8576ff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
}
